table {
  width:550px;
  height:450px;
  border-collapse:collapse;
  border:1px solid black;
}

td {
  border:1px solid black;
  font-family:helvetica;
  font-size:20px;
  font-weight:bold;
  padding:6px;
}

td.image {
  padding:0;
  margin:0;
  height:340px;
  border-bottom:4px solid black;
}

td.image img {
  padding:0;
  margin:0;
  width:550px;
  height:340px;
}

div.copyright {
  font-weight:normal;
  font-size:14px;
  padding-left:10px;
  position:absolute;
  top:320px;
}