table {
  width:550px;
  height:450px;
  border-collapse:collapse;
  border:1px solid black;
}

td {
  border:1px solid black;
  font-family:helvetica;
  font-size:18px;
  font-weight:bold;
  padding:2px 4px;
  margin:0;
}

td.image {
  padding:0;
  margin:0;
  height:360px;
  border-bottom:4px solid black;
}

td.day b {
  font-size:100px;
  line-height:50px;
  margin-top:15px;
  display:block
}

td.image img {
  padding:0;
  margin:0;
  width:550px;
  height:360px;
}

div.copyright {
  font-weight:normal;
  font-size:14px;
  padding-left:10px;
  position:absolute;
  top:340px;
}